<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.kern1..notdef</key>
	<array>
		<string>.notdef</string>
	</array>
	<key>public.kern1.A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Abreveacute</string>
		<string>Abrevedotbelow</string>
		<string>Abrevegrave</string>
		<string>Abrevehookabove</string>
		<string>Abrevetilde</string>
		<string>Acircumflex</string>
		<string>Acircumflexacute</string>
		<string>Acircumflexdotbelow</string>
		<string>Acircumflexgrave</string>
		<string>Acircumflexhookabove</string>
		<string>Acircumflextilde</string>
		<string>Adieresis</string>
		<string>Adotbelow</string>
		<string>Agrave</string>
		<string>Ahookabove</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Aringacute</string>
		<string>Atilde</string>
		<string>uni0394</string>
		<string>Delta</string>
	</array>
	<key>public.kern1.B</key>
	<array>
		<string>B</string>
	</array>
	<key>public.kern1.C</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
	</array>
	<key>public.kern1.CR</key>
	<array>
		<string>CR</string>
	</array>
	<key>public.kern1.E</key>
	<array>
		<string>AE</string>
		<string>AEacute</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Ecircumflexacute</string>
		<string>Ecircumflexdotbelow</string>
		<string>Ecircumflexgrave</string>
		<string>Ecircumflextilde</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Edotbelow</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>Etilde</string>
		<string>OE</string>
	</array>
	<key>public.kern1.Eng</key>
	<array>
		<string>Eng</string>
	</array>
	<key>public.kern1.Euro</key>
	<array>
		<string>Euro</string>
	</array>
	<key>public.kern1.F</key>
	<array>
		<string>F</string>
		<string>franc</string>
	</array>
	<key>public.kern1.G</key>
	<array>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
	</array>
	<key>public.kern1.H</key>
	<array>
		<string>H</string>
		<string>Hbar</string>
		<string>Hcircumflex</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Idotbelow</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Ntilde</string>
	</array>
	<key>public.kern1.J</key>
	<array>
		<string>IJ</string>
		<string>J</string>
		<string>Jcircumflex</string>
	</array>
	<key>public.kern1.K</key>
	<array>
		<string>K</string>
		<string>Kcommaaccent</string>
	</array>
	<key>public.kern1.L</key>
	<array>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Ldot</string>
		<string>Lslash</string>
	</array>
	<key>public.kern1.M</key>
	<array>
		<string>M</string>
	</array>
	<key>public.kern1.O</key>
	<array>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>Ocircumflexacute</string>
		<string>Ocircumflexdotbelow</string>
		<string>Ocircumflexgrave</string>
		<string>Ocircumflexhookabove</string>
		<string>Ocircumflextilde</string>
		<string>Odieresis</string>
		<string>Odotbelow</string>
		<string>Ograve</string>
		<string>Ohookabove</string>
		<string>Ohorn</string>
		<string>Ohornacute</string>
		<string>Ohorndotbelow</string>
		<string>Ohorngrave</string>
		<string>Ohornhookabove</string>
		<string>Ohorntilde</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>Otilde</string>
		<string>Q</string>
	</array>
	<key>public.kern1.O.alt</key>
	<array>
		<string>O.alt</string>
	</array>
	<key>public.kern1.Omega</key>
	<array>
		<string>Omega</string>
		<string>Ohm</string>
	</array>
	<key>public.kern1.P</key>
	<array>
		<string>P</string>
	</array>
	<key>public.kern1.R</key>
	<array>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
	</array>
	<key>public.kern1.S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>Scommaaccent</string>
	</array>
	<key>public.kern1.T</key>
	<array>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>Tcommaaccent</string>
	</array>
	<key>public.kern1.Thorn</key>
	<array>
		<string>Thorn</string>
	</array>
	<key>public.kern1.U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Udotbelow</string>
		<string>Ugrave</string>
		<string>Uhookabove</string>
		<string>Uhorn</string>
		<string>Uhornacute</string>
		<string>Uhorndotbelow</string>
		<string>Uhorngrave</string>
		<string>Uhornhookabove</string>
		<string>Uhorntilde</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
	</array>
	<key>public.kern1.V</key>
	<array>
		<string>V</string>
	</array>
	<key>public.kern1.W</key>
	<array>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
	</array>
	<key>public.kern1.X</key>
	<array>
		<string>X</string>
	</array>
	<key>public.kern1.Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ydotbelow</string>
		<string>Ygrave</string>
		<string>Yhookabove</string>
		<string>Ytilde</string>
	</array>
	<key>public.kern1.Y.alt</key>
	<array>
		<string>Y.alt</string>
	</array>
	<key>public.kern1.Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
	<key>public.kern1.acutecomb</key>
	<array>
		<string>acutecomb</string>
	</array>
	<key>public.kern1.ampersand</key>
	<array>
		<string>ampersand</string>
	</array>
	<key>public.kern1.apple</key>
	<array>
		<string>apple</string>
	</array>
	<key>public.kern1.approxequal</key>
	<array>
		<string>approxequal</string>
	</array>
	<key>public.kern1.asciicircum</key>
	<array>
		<string>asciicircum</string>
	</array>
	<key>public.kern1.asciitilde</key>
	<array>
		<string>asciitilde</string>
	</array>
	<key>public.kern1.asterisk</key>
	<array>
		<string>asterisk</string>
	</array>
	<key>public.kern1.at</key>
	<array>
		<string>at</string>
	</array>
	<key>public.kern1.backslash</key>
	<array>
		<string>backslash</string>
	</array>
	<key>public.kern1.bar</key>
	<array>
		<string>bar</string>
	</array>
	<key>public.kern1.barra</key>
	<array>
		<string>barra</string>
	</array>
	<key>public.kern1.braceleft</key>
	<array>
		<string>braceleft</string>
	</array>
	<key>public.kern1.braceright</key>
	<array>
		<string>braceright</string>
	</array>
	<key>public.kern1.bracketleft</key>
	<array>
		<string>bracketleft</string>
	</array>
	<key>public.kern1.bracketright</key>
	<array>
		<string>bracketright</string>
	</array>
	<key>public.kern1.brevecomb</key>
	<array>
		<string>brevecomb</string>
	</array>
	<key>public.kern1.brokenbar</key>
	<array>
		<string>brokenbar</string>
	</array>
	<key>public.kern1.bullet</key>
	<array>
		<string>bullet</string>
	</array>
	<key>public.kern1.c</key>
	<array>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>cent</string>
	</array>
	<key>public.kern1.caroncomb</key>
	<array>
		<string>caroncomb</string>
	</array>
	<key>public.kern1.caroncomb.alt</key>
	<array>
		<string>caroncomb.alt</string>
	</array>
	<key>public.kern1.cedillacomb</key>
	<array>
		<string>cedillacomb</string>
	</array>
	<key>public.kern1.circumflexcomb</key>
	<array>
		<string>circumflexcomb</string>
	</array>
	<key>public.kern1.commaaccentcomb</key>
	<array>
		<string>commaaccentcomb</string>
	</array>
	<key>public.kern1.commaturnedabovecomb</key>
	<array>
		<string>commaturnedabovecomb</string>
	</array>
	<key>public.kern1.copyright</key>
	<array>
		<string>copyright</string>
	</array>
	<key>public.kern1.currency</key>
	<array>
		<string>currency</string>
	</array>
	<key>public.kern1.dieresiscomb</key>
	<array>
		<string>dieresiscomb</string>
	</array>
	<key>public.kern1.dollar</key>
	<array>
		<string>dollar</string>
	</array>
	<key>public.kern1.dotaccentcomb</key>
	<array>
		<string>dotaccentcomb</string>
	</array>
	<key>public.kern1.dotbelowcomb</key>
	<array>
		<string>dotbelowcomb</string>
	</array>
	<key>public.kern1.e</key>
	<array>
		<string>ae</string>
		<string>aeacute</string>
		<string>e</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>ecircumflexacute</string>
		<string>ecircumflexdotbelow</string>
		<string>ecircumflexgrave</string>
		<string>ecircumflexhookabove</string>
		<string>ecircumflextilde</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>edotbelow</string>
		<string>egrave</string>
		<string>ehookabove</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>etilde</string>
		<string>oe</string>
	</array>
	<key>public.kern1.eight</key>
	<array>
		<string>eight</string>
	</array>
	<key>public.kern1.eight.dnom</key>
	<array>
		<string>eight.dnom</string>
	</array>
	<key>public.kern1.eight.numr</key>
	<array>
		<string>eight.numr</string>
	</array>
	<key>public.kern1.endash</key>
	<array>
		<string>underscore</string>
	</array>
	<key>public.kern1.estimated</key>
	<array>
		<string>estimated</string>
	</array>
	<key>public.kern1.eth</key>
	<array>
		<string>eth</string>
	</array>
	<key>public.kern1.exclam</key>
	<array>
		<string>exclam</string>
	</array>
	<key>public.kern1.exclamdown</key>
	<array>
		<string>exclamdown</string>
	</array>
	<key>public.kern1.f</key>
	<array>
		<string>f</string>
		<string>f_f</string>
	</array>
	<key>public.kern1.f.alt</key>
	<array>
		<string>f.alt</string>
	</array>
	<key>public.kern1.five</key>
	<array>
		<string>five</string>
	</array>
	<key>public.kern1.five.dnom</key>
	<array>
		<string>five.dnom</string>
	</array>
	<key>public.kern1.five.numr</key>
	<array>
		<string>five.numr</string>
	</array>
	<key>public.kern1.florin</key>
	<array>
		<string>florin</string>
	</array>
	<key>public.kern1.four</key>
	<array>
		<string>four</string>
	</array>
	<key>public.kern1.four.numr</key>
	<array>
		<string>four.dnom</string>
		<string>four.numr</string>
		<string>foursuperior</string>
	</array>
	<key>public.kern1.fraction</key>
	<array>
		<string>fraction</string>
	</array>
	<key>public.kern1.g</key>
	<array>
		<string>g</string>
		<string>gbreve</string>
		<string>gcircumflex</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
	</array>
	<key>public.kern1.germandbls</key>
	<array>
		<string>germandbls</string>
	</array>
	<key>public.kern1.gravecomb</key>
	<array>
		<string>gravecomb</string>
	</array>
	<key>public.kern1.greater</key>
	<array>
		<string>greater</string>
		<string>greaterequal</string>
	</array>
	<key>public.kern1.guillemotleft</key>
	<array>
		<string>guillemotleft</string>
		<string>guilsinglleft</string>
	</array>
	<key>public.kern1.guillemotright</key>
	<array>
		<string>guillemotright</string>
		<string>guilsinglright</string>
	</array>
	<key>public.kern1.h.alt</key>
	<array>
		<string>hbar</string>
		<string>h.alt</string>
	</array>
	<key>public.kern1.hungarumlautcomb</key>
	<array>
		<string>hungarumlautcomb</string>
	</array>
	<key>public.kern1.hyphen</key>
	<array>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
	</array>
	<key>public.kern1.i</key>
	<array>
		<string>i</string>
		<string>idotaccent</string>
		<string>idotbelow</string>
		<string>iogonek</string>
	</array>
	<key>public.kern1.idotless</key>
	<array>
		<string>idotless</string>
		<string>iacute</string>
		<string>ibreve</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>imacron</string>
		<string>itilde</string>
		<string>fi</string>
	</array>
	<key>public.kern1.infinity</key>
	<array>
		<string>infinity</string>
	</array>
	<key>public.kern1.integral</key>
	<array>
		<string>integral</string>
	</array>
	<key>public.kern1.j</key>
	<array>
		<string>ij</string>
		<string>j</string>
		<string>eng</string>
	</array>
	<key>public.kern1.jdotless</key>
	<array>
		<string>jdotless</string>
		<string>jcircumflex</string>
	</array>
	<key>public.kern1.k</key>
	<array>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>kgreenlandic</string>
	</array>
	<key>public.kern1.l</key>
	<array>
		<string>d</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>ldot</string>
		<string>lslash</string>
		<string>fl</string>
		<string>dagger</string>
		<string>daggerdbl</string>
	</array>
	<key>public.kern1.leaf</key>
	<array>
		<string>leaf</string>
	</array>
	<key>public.kern1.lemon</key>
	<array>
		<string>lemon</string>
	</array>
	<key>public.kern1.less</key>
	<array>
		<string>less</string>
		<string>lessequal</string>
	</array>
	<key>public.kern1.lira</key>
	<array>
		<string>lira</string>
	</array>
	<key>public.kern1.logicalnot</key>
	<array>
		<string>logicalnot</string>
	</array>
	<key>public.kern1.lozenge</key>
	<array>
		<string>lozenge</string>
	</array>
	<key>public.kern1.macroncomb</key>
	<array>
		<string>macroncomb</string>
	</array>
	<key>public.kern1.minus</key>
	<array>
		<string>minus</string>
		<string>divide</string>
		<string>equal</string>
		<string>notequal</string>
	</array>
	<key>public.kern1.multiply</key>
	<array>
		<string>multiply</string>
	</array>
	<key>public.kern1.n</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>abreveacute</string>
		<string>abrevedotbelow</string>
		<string>abrevegrave</string>
		<string>abrevehookabove</string>
		<string>abrevetilde</string>
		<string>acircumflex</string>
		<string>acircumflexacute</string>
		<string>acircumflexdotbelow</string>
		<string>acircumflexgrave</string>
		<string>acircumflexhookabove</string>
		<string>acircumflextilde</string>
		<string>adieresis</string>
		<string>adotbelow</string>
		<string>agrave</string>
		<string>ahookabove</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>aringacute</string>
		<string>atilde</string>
		<string>h</string>
		<string>hcircumflex</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ntilde</string>
	</array>
	<key>public.kern1.nine</key>
	<array>
		<string>nine</string>
	</array>
	<key>public.kern1.nine.dnom</key>
	<array>
		<string>nine.dnom</string>
	</array>
	<key>public.kern1.nine.numr</key>
	<array>
		<string>nine.numr</string>
	</array>
	<key>public.kern1.o</key>
	<array>
		<string>b</string>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocircumflex</string>
		<string>ocircumflexacute</string>
		<string>ocircumflexdotbelow</string>
		<string>ocircumflexgrave</string>
		<string>ocircumflexhookabove</string>
		<string>ocircumflextilde</string>
		<string>odieresis</string>
		<string>odotbelow</string>
		<string>ograve</string>
		<string>ohookabove</string>
		<string>ohorn</string>
		<string>ohornacute</string>
		<string>ohorndotbelow</string>
		<string>ohorngrave</string>
		<string>ohornhookabove</string>
		<string>ohorntilde</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>otilde</string>
		<string>p</string>
		<string>thorn</string>
	</array>
	<key>public.kern1.ogonekcomb</key>
	<array>
		<string>ogonekcomb</string>
	</array>
	<key>public.kern1.one</key>
	<array>
		<string>one</string>
	</array>
	<key>public.kern1.one.numr</key>
	<array>
		<string>one.dnom</string>
		<string>one.numr</string>
		<string>onesuperior</string>
		<string>onehalf</string>
		<string>onequarter</string>
	</array>
	<key>public.kern1.ordfeminine</key>
	<array>
		<string>ordfeminine</string>
	</array>
	<key>public.kern1.ordmasculine</key>
	<array>
		<string>ordmasculine</string>
	</array>
	<key>public.kern1.paragraph</key>
	<array>
		<string>paragraph</string>
	</array>
	<key>public.kern1.parenleft</key>
	<array>
		<string>parenleft</string>
	</array>
	<key>public.kern1.parenright</key>
	<array>
		<string>parenright</string>
	</array>
	<key>public.kern1.partialdiff</key>
	<array>
		<string>partialdiff</string>
	</array>
	<key>public.kern1.period</key>
	<array>
		<string>periodcentered</string>
		<string>colon</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>period</string>
		<string>semicolon</string>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
	</array>
	<key>public.kern1.pi</key>
	<array>
		<string>pi</string>
	</array>
	<key>public.kern1.plus</key>
	<array>
		<string>plus</string>
		<string>plusminus</string>
	</array>
	<key>public.kern1.product</key>
	<array>
		<string>product</string>
	</array>
	<key>public.kern1.q</key>
	<array>
		<string>q</string>
	</array>
	<key>public.kern1.question</key>
	<array>
		<string>question</string>
	</array>
	<key>public.kern1.questiondown</key>
	<array>
		<string>questiondown</string>
	</array>
	<key>public.kern1.quotedbl</key>
	<array>
		<string>quotedbl</string>
	</array>
	<key>public.kern1.quotedblleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
	</array>
	<key>public.kern1.quotesingle</key>
	<array>
		<string>quotesingle</string>
	</array>
	<key>public.kern1.r</key>
	<array>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
	</array>
	<key>public.kern1.radical</key>
	<array>
		<string>radical</string>
	</array>
	<key>public.kern1.registered</key>
	<array>
		<string>registered</string>
	</array>
	<key>public.kern1.ringcomb</key>
	<array>
		<string>ringcomb</string>
	</array>
	<key>public.kern1.s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>scommaaccent</string>
	</array>
	<key>public.kern1.section</key>
	<array>
		<string>section</string>
	</array>
	<key>public.kern1.seven</key>
	<array>
		<string>seven</string>
	</array>
	<key>public.kern1.seven.dnom</key>
	<array>
		<string>seven.dnom</string>
	</array>
	<key>public.kern1.seven.numr</key>
	<array>
		<string>seven.numr</string>
	</array>
	<key>public.kern1.six</key>
	<array>
		<string>six</string>
	</array>
	<key>public.kern1.six.dnom</key>
	<array>
		<string>six.dnom</string>
	</array>
	<key>public.kern1.six.numr</key>
	<array>
		<string>six.numr</string>
	</array>
	<key>public.kern1.slash</key>
	<array>
		<string>numbersign</string>
		<string>slash</string>
		<string>slashlongcomb</string>
	</array>
	<key>public.kern1.slashshortcomb</key>
	<array>
		<string>slashshortcomb</string>
	</array>
	<key>public.kern1.space</key>
	<array>
		<string>space</string>
	</array>
	<key>public.kern1.sterling</key>
	<array>
		<string>sterling</string>
	</array>
	<key>public.kern1.strokelongcomb</key>
	<array>
		<string>strokelongcomb</string>
	</array>
	<key>public.kern1.strokeshortcomb</key>
	<array>
		<string>strokeshortcomb</string>
	</array>
	<key>public.kern1.strokeshortcomb.Rhalf</key>
	<array>
		<string>strokeshortcomb.Rhalf</string>
	</array>
	<key>public.kern1.strokeshortcomb.alt</key>
	<array>
		<string>strokeshortcomb.alt</string>
	</array>
	<key>public.kern1.summation</key>
	<array>
		<string>summation</string>
	</array>
	<key>public.kern1.t</key>
	<array>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>tcedilla</string>
		<string>tcommaaccent</string>
	</array>
	<key>public.kern1.three</key>
	<array>
		<string>three</string>
	</array>
	<key>public.kern1.three.numr</key>
	<array>
		<string>three.dnom</string>
		<string>three.numr</string>
		<string>threesuperior</string>
		<string>threequarters</string>
	</array>
	<key>public.kern1.tildecomb</key>
	<array>
		<string>tildecomb</string>
	</array>
	<key>public.kern1.trademark</key>
	<array>
		<string>trademark</string>
	</array>
	<key>public.kern1.two</key>
	<array>
		<string>two</string>
	</array>
	<key>public.kern1.two.numr</key>
	<array>
		<string>two.dnom</string>
		<string>two.numr</string>
		<string>twosuperior</string>
	</array>
	<key>public.kern1.u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>udotbelow</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>mu</string>
	</array>
	<key>public.kern1.uni2113</key>
	<array>
		<string>uni2113</string>
	</array>
	<key>public.kern1.v</key>
	<array>
		<string>v</string>
	</array>
	<key>public.kern1.w</key>
	<array>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
	</array>
	<key>public.kern1.x</key>
	<array>
		<string>x</string>
	</array>
	<key>public.kern1.y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ydotbelow</string>
		<string>ygrave</string>
		<string>yhookabove</string>
		<string>ytilde</string>
	</array>
	<key>public.kern1.yen</key>
	<array>
		<string>yen</string>
	</array>
	<key>public.kern1.z</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
	<key>public.kern1.zero</key>
	<array>
		<string>zero</string>
	</array>
	<key>public.kern1.zero.numr</key>
	<array>
		<string>zero.dnom</string>
		<string>zero.numr</string>
		<string>zerosuperior</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>degree</string>
	</array>
	<key>public.kern2..notdef</key>
	<array>
		<string>.notdef</string>
	</array>
	<key>public.kern2.A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Abreveacute</string>
		<string>Abrevedotbelow</string>
		<string>Abrevegrave</string>
		<string>Abrevehookabove</string>
		<string>Abrevetilde</string>
		<string>Acircumflex</string>
		<string>Acircumflexacute</string>
		<string>Acircumflexdotbelow</string>
		<string>Acircumflexgrave</string>
		<string>Acircumflexhookabove</string>
		<string>Acircumflextilde</string>
		<string>Adieresis</string>
		<string>Adotbelow</string>
		<string>Agrave</string>
		<string>Ahookabove</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Aringacute</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>AEacute</string>
		<string>uni0394</string>
		<string>Delta</string>
	</array>
	<key>public.kern2.CR</key>
	<array>
		<string>CR</string>
	</array>
	<key>public.kern2.Eng</key>
	<array>
		<string>Eng</string>
	</array>
	<key>public.kern2.Euro</key>
	<array>
		<string>Euro</string>
	</array>
	<key>public.kern2.H</key>
	<array>
		<string>B</string>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Ecircumflexacute</string>
		<string>Ecircumflexdotbelow</string>
		<string>Ecircumflexgrave</string>
		<string>Ecircumflextilde</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Edotbelow</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>Etilde</string>
		<string>F</string>
		<string>H</string>
		<string>Hbar</string>
		<string>Hcircumflex</string>
		<string>I</string>
		<string>IJ</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Idotbelow</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Ldot</string>
		<string>Lslash</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Ntilde</string>
		<string>P</string>
		<string>Thorn</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>franc</string>
	</array>
	<key>public.kern2.J</key>
	<array>
		<string>J</string>
		<string>Jcircumflex</string>
	</array>
	<key>public.kern2.M</key>
	<array>
		<string>M</string>
	</array>
	<key>public.kern2.O</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>Ocircumflexacute</string>
		<string>Ocircumflexdotbelow</string>
		<string>Ocircumflexgrave</string>
		<string>Ocircumflexhookabove</string>
		<string>Ocircumflextilde</string>
		<string>Odieresis</string>
		<string>Odotbelow</string>
		<string>Ograve</string>
		<string>Ohookabove</string>
		<string>Ohorn</string>
		<string>Ohornacute</string>
		<string>Ohorndotbelow</string>
		<string>Ohorngrave</string>
		<string>Ohornhookabove</string>
		<string>Ohorntilde</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>Q</string>
	</array>
	<key>public.kern2.O.alt</key>
	<array>
		<string>O.alt</string>
	</array>
	<key>public.kern2.Omega</key>
	<array>
		<string>Omega</string>
		<string>Ohm</string>
	</array>
	<key>public.kern2.S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>Scommaaccent</string>
	</array>
	<key>public.kern2.T</key>
	<array>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>Tcommaaccent</string>
	</array>
	<key>public.kern2.U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Udotbelow</string>
		<string>Ugrave</string>
		<string>Uhookabove</string>
		<string>Uhorn</string>
		<string>Uhornacute</string>
		<string>Uhorndotbelow</string>
		<string>Uhorngrave</string>
		<string>Uhornhookabove</string>
		<string>Uhorntilde</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
	</array>
	<key>public.kern2.V</key>
	<array>
		<string>V</string>
	</array>
	<key>public.kern2.W</key>
	<array>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
	</array>
	<key>public.kern2.X</key>
	<array>
		<string>X</string>
	</array>
	<key>public.kern2.Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ydotbelow</string>
		<string>Ygrave</string>
		<string>Yhookabove</string>
		<string>Ytilde</string>
	</array>
	<key>public.kern2.Y.alt</key>
	<array>
		<string>Y.alt</string>
	</array>
	<key>public.kern2.Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
	<key>public.kern2.a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>abreveacute</string>
		<string>abrevedotbelow</string>
		<string>abrevegrave</string>
		<string>abrevehookabove</string>
		<string>abrevetilde</string>
		<string>acircumflex</string>
		<string>acircumflexacute</string>
		<string>acircumflexdotbelow</string>
		<string>acircumflexgrave</string>
		<string>acircumflexhookabove</string>
		<string>acircumflextilde</string>
		<string>adieresis</string>
		<string>adotbelow</string>
		<string>agrave</string>
		<string>ahookabove</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>aringacute</string>
		<string>atilde</string>
		<string>ae</string>
		<string>aeacute</string>
		<string>d</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>g</string>
		<string>gbreve</string>
		<string>gcircumflex</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
	</array>
	<key>public.kern2.acutecomb</key>
	<array>
		<string>acutecomb</string>
	</array>
	<key>public.kern2.ampersand</key>
	<array>
		<string>ampersand</string>
	</array>
	<key>public.kern2.apple</key>
	<array>
		<string>apple</string>
	</array>
	<key>public.kern2.approxequal</key>
	<array>
		<string>approxequal</string>
	</array>
	<key>public.kern2.asciicircum</key>
	<array>
		<string>asciicircum</string>
	</array>
	<key>public.kern2.asciitilde</key>
	<array>
		<string>asciitilde</string>
	</array>
	<key>public.kern2.asterisk</key>
	<array>
		<string>asterisk</string>
	</array>
	<key>public.kern2.at</key>
	<array>
		<string>at</string>
	</array>
	<key>public.kern2.backslash</key>
	<array>
		<string>backslash</string>
	</array>
	<key>public.kern2.bar</key>
	<array>
		<string>bar</string>
	</array>
	<key>public.kern2.barra</key>
	<array>
		<string>barra</string>
	</array>
	<key>public.kern2.braceleft</key>
	<array>
		<string>braceleft</string>
	</array>
	<key>public.kern2.braceright</key>
	<array>
		<string>braceright</string>
	</array>
	<key>public.kern2.bracketleft</key>
	<array>
		<string>bracketleft</string>
	</array>
	<key>public.kern2.bracketright</key>
	<array>
		<string>bracketright</string>
	</array>
	<key>public.kern2.brevecomb</key>
	<array>
		<string>brevecomb</string>
	</array>
	<key>public.kern2.brokenbar</key>
	<array>
		<string>brokenbar</string>
	</array>
	<key>public.kern2.bullet</key>
	<array>
		<string>bullet</string>
	</array>
	<key>public.kern2.caroncomb</key>
	<array>
		<string>caroncomb</string>
	</array>
	<key>public.kern2.caroncomb.alt</key>
	<array>
		<string>caroncomb.alt</string>
	</array>
	<key>public.kern2.cedillacomb</key>
	<array>
		<string>cedillacomb</string>
	</array>
	<key>public.kern2.circumflexcomb</key>
	<array>
		<string>circumflexcomb</string>
	</array>
	<key>public.kern2.comma</key>
	<array>
		<string>semicolon</string>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
	</array>
	<key>public.kern2.commaaccentcomb</key>
	<array>
		<string>commaaccentcomb</string>
	</array>
	<key>public.kern2.commaturnedabovecomb</key>
	<array>
		<string>commaturnedabovecomb</string>
	</array>
	<key>public.kern2.copyright</key>
	<array>
		<string>copyright</string>
	</array>
	<key>public.kern2.currency</key>
	<array>
		<string>currency</string>
	</array>
	<key>public.kern2.dieresiscomb</key>
	<array>
		<string>dieresiscomb</string>
	</array>
	<key>public.kern2.dollar</key>
	<array>
		<string>dollar</string>
	</array>
	<key>public.kern2.dotaccentcomb</key>
	<array>
		<string>dotaccentcomb</string>
	</array>
	<key>public.kern2.dotbelowcomb</key>
	<array>
		<string>dotbelowcomb</string>
	</array>
	<key>public.kern2.eight</key>
	<array>
		<string>eight</string>
	</array>
	<key>public.kern2.eight.dnom</key>
	<array>
		<string>eight.dnom</string>
	</array>
	<key>public.kern2.eight.numr</key>
	<array>
		<string>eight.numr</string>
	</array>
	<key>public.kern2.endash</key>
	<array>
		<string>underscore</string>
	</array>
	<key>public.kern2.equal</key>
	<array>
		<string>notequal</string>
	</array>
	<key>public.kern2.estimated</key>
	<array>
		<string>estimated</string>
	</array>
	<key>public.kern2.eth</key>
	<array>
		<string>eth</string>
	</array>
	<key>public.kern2.exclam</key>
	<array>
		<string>exclam</string>
	</array>
	<key>public.kern2.exclamdown</key>
	<array>
		<string>exclamdown</string>
	</array>
	<key>public.kern2.f</key>
	<array>
		<string>f</string>
		<string>f_f</string>
		<string>fi</string>
		<string>fl</string>
	</array>
	<key>public.kern2.f.alt</key>
	<array>
		<string>f.alt</string>
	</array>
	<key>public.kern2.five</key>
	<array>
		<string>five</string>
	</array>
	<key>public.kern2.five.dnom</key>
	<array>
		<string>five.dnom</string>
	</array>
	<key>public.kern2.five.numr</key>
	<array>
		<string>five.numr</string>
	</array>
	<key>public.kern2.florin</key>
	<array>
		<string>florin</string>
	</array>
	<key>public.kern2.four</key>
	<array>
		<string>four</string>
	</array>
	<key>public.kern2.four.numr</key>
	<array>
		<string>four.dnom</string>
		<string>four.numr</string>
		<string>foursuperior</string>
	</array>
	<key>public.kern2.fraction</key>
	<array>
		<string>fraction</string>
	</array>
	<key>public.kern2.gravecomb</key>
	<array>
		<string>gravecomb</string>
	</array>
	<key>public.kern2.greater</key>
	<array>
		<string>greater</string>
		<string>greaterequal</string>
	</array>
	<key>public.kern2.guillemotleft</key>
	<array>
		<string>guillemotleft</string>
		<string>guilsinglleft</string>
	</array>
	<key>public.kern2.guillemotright</key>
	<array>
		<string>guillemotright</string>
		<string>guilsinglright</string>
	</array>
	<key>public.kern2.h</key>
	<array>
		<string>b</string>
		<string>h</string>
		<string>hcircumflex</string>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>kgreenlandic</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>ldot</string>
		<string>lslash</string>
		<string>thorn</string>
		<string>germandbls</string>
		<string>dagger</string>
		<string>daggerdbl</string>
	</array>
	<key>public.kern2.h.alt</key>
	<array>
		<string>hbar</string>
		<string>h.alt</string>
	</array>
	<key>public.kern2.hungarumlautcomb</key>
	<array>
		<string>hungarumlautcomb</string>
	</array>
	<key>public.kern2.hyphen</key>
	<array>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
	</array>
	<key>public.kern2.i</key>
	<array>
		<string>i</string>
		<string>idotaccent</string>
		<string>idotbelow</string>
		<string>ij</string>
		<string>iogonek</string>
	</array>
	<key>public.kern2.idotless</key>
	<array>
		<string>idotless</string>
		<string>iacute</string>
		<string>ibreve</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>imacron</string>
		<string>itilde</string>
	</array>
	<key>public.kern2.infinity</key>
	<array>
		<string>infinity</string>
	</array>
	<key>public.kern2.integral</key>
	<array>
		<string>integral</string>
	</array>
	<key>public.kern2.j</key>
	<array>
		<string>j</string>
	</array>
	<key>public.kern2.jdotless</key>
	<array>
		<string>jdotless</string>
		<string>jcircumflex</string>
	</array>
	<key>public.kern2.leaf</key>
	<array>
		<string>leaf</string>
	</array>
	<key>public.kern2.lemon</key>
	<array>
		<string>lemon</string>
	</array>
	<key>public.kern2.less</key>
	<array>
		<string>less</string>
		<string>lessequal</string>
	</array>
	<key>public.kern2.lira</key>
	<array>
		<string>lira</string>
	</array>
	<key>public.kern2.logicalnot</key>
	<array>
		<string>logicalnot</string>
	</array>
	<key>public.kern2.lozenge</key>
	<array>
		<string>lozenge</string>
	</array>
	<key>public.kern2.macroncomb</key>
	<array>
		<string>macroncomb</string>
	</array>
	<key>public.kern2.minus</key>
	<array>
		<string>minus</string>
		<string>divide</string>
		<string>equal</string>
	</array>
	<key>public.kern2.multiply</key>
	<array>
		<string>multiply</string>
	</array>
	<key>public.kern2.n</key>
	<array>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>eng</string>
		<string>ntilde</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
	</array>
	<key>public.kern2.nine</key>
	<array>
		<string>nine</string>
	</array>
	<key>public.kern2.nine.dnom</key>
	<array>
		<string>nine.dnom</string>
	</array>
	<key>public.kern2.nine.numr</key>
	<array>
		<string>nine.numr</string>
	</array>
	<key>public.kern2.o</key>
	<array>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>e</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>ecircumflexacute</string>
		<string>ecircumflexdotbelow</string>
		<string>ecircumflexgrave</string>
		<string>ecircumflexhookabove</string>
		<string>ecircumflextilde</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>edotbelow</string>
		<string>egrave</string>
		<string>ehookabove</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>etilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocircumflex</string>
		<string>ocircumflexacute</string>
		<string>ocircumflexdotbelow</string>
		<string>ocircumflexgrave</string>
		<string>ocircumflexhookabove</string>
		<string>ocircumflextilde</string>
		<string>odieresis</string>
		<string>odotbelow</string>
		<string>ograve</string>
		<string>ohookabove</string>
		<string>ohorn</string>
		<string>ohornacute</string>
		<string>ohorndotbelow</string>
		<string>ohorngrave</string>
		<string>ohornhookabove</string>
		<string>ohorntilde</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>otilde</string>
		<string>oe</string>
		<string>q</string>
		<string>cent</string>
	</array>
	<key>public.kern2.ogonekcomb</key>
	<array>
		<string>ogonekcomb</string>
	</array>
	<key>public.kern2.one</key>
	<array>
		<string>one</string>
	</array>
	<key>public.kern2.one.numr</key>
	<array>
		<string>one.dnom</string>
		<string>one.numr</string>
		<string>onesuperior</string>
		<string>onehalf</string>
		<string>onequarter</string>
	</array>
	<key>public.kern2.ordfeminine</key>
	<array>
		<string>ordfeminine</string>
	</array>
	<key>public.kern2.ordmasculine</key>
	<array>
		<string>ordmasculine</string>
	</array>
	<key>public.kern2.p</key>
	<array>
		<string>p</string>
		<string>mu</string>
	</array>
	<key>public.kern2.paragraph</key>
	<array>
		<string>paragraph</string>
	</array>
	<key>public.kern2.parenleft</key>
	<array>
		<string>parenleft</string>
	</array>
	<key>public.kern2.parenright</key>
	<array>
		<string>parenright</string>
	</array>
	<key>public.kern2.partialdiff</key>
	<array>
		<string>partialdiff</string>
	</array>
	<key>public.kern2.period</key>
	<array>
		<string>periodcentered</string>
		<string>colon</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>period</string>
	</array>
	<key>public.kern2.pi</key>
	<array>
		<string>pi</string>
	</array>
	<key>public.kern2.plus</key>
	<array>
		<string>plus</string>
		<string>plusminus</string>
	</array>
	<key>public.kern2.product</key>
	<array>
		<string>product</string>
	</array>
	<key>public.kern2.question</key>
	<array>
		<string>question</string>
	</array>
	<key>public.kern2.questiondown</key>
	<array>
		<string>questiondown</string>
	</array>
	<key>public.kern2.quotedbl</key>
	<array>
		<string>quotedbl</string>
	</array>
	<key>public.kern2.quotedblleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
	</array>
	<key>public.kern2.quotesingle</key>
	<array>
		<string>quotesingle</string>
	</array>
	<key>public.kern2.radical</key>
	<array>
		<string>radical</string>
	</array>
	<key>public.kern2.registered</key>
	<array>
		<string>registered</string>
	</array>
	<key>public.kern2.ringcomb</key>
	<array>
		<string>ringcomb</string>
	</array>
	<key>public.kern2.s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>scommaaccent</string>
	</array>
	<key>public.kern2.section</key>
	<array>
		<string>section</string>
	</array>
	<key>public.kern2.seven</key>
	<array>
		<string>seven</string>
	</array>
	<key>public.kern2.seven.dnom</key>
	<array>
		<string>seven.dnom</string>
	</array>
	<key>public.kern2.seven.numr</key>
	<array>
		<string>seven.numr</string>
	</array>
	<key>public.kern2.six</key>
	<array>
		<string>six</string>
	</array>
	<key>public.kern2.six.dnom</key>
	<array>
		<string>six.dnom</string>
	</array>
	<key>public.kern2.six.numr</key>
	<array>
		<string>six.numr</string>
	</array>
	<key>public.kern2.slash</key>
	<array>
		<string>numbersign</string>
		<string>slash</string>
		<string>slashlongcomb</string>
	</array>
	<key>public.kern2.slashshortcomb</key>
	<array>
		<string>slashshortcomb</string>
	</array>
	<key>public.kern2.space</key>
	<array>
		<string>space</string>
	</array>
	<key>public.kern2.sterling</key>
	<array>
		<string>sterling</string>
	</array>
	<key>public.kern2.strokelongcomb</key>
	<array>
		<string>strokelongcomb</string>
	</array>
	<key>public.kern2.strokeshortcomb</key>
	<array>
		<string>strokeshortcomb</string>
	</array>
	<key>public.kern2.strokeshortcomb.Rhalf</key>
	<array>
		<string>strokeshortcomb.Rhalf</string>
	</array>
	<key>public.kern2.strokeshortcomb.alt</key>
	<array>
		<string>strokeshortcomb.alt</string>
	</array>
	<key>public.kern2.summation</key>
	<array>
		<string>summation</string>
	</array>
	<key>public.kern2.t</key>
	<array>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>tcedilla</string>
		<string>tcommaaccent</string>
	</array>
	<key>public.kern2.three</key>
	<array>
		<string>three</string>
	</array>
	<key>public.kern2.three.numr</key>
	<array>
		<string>three.dnom</string>
		<string>three.numr</string>
		<string>threesuperior</string>
		<string>threequarters</string>
	</array>
	<key>public.kern2.tildecomb</key>
	<array>
		<string>tildecomb</string>
	</array>
	<key>public.kern2.trademark</key>
	<array>
		<string>trademark</string>
	</array>
	<key>public.kern2.two</key>
	<array>
		<string>two</string>
	</array>
	<key>public.kern2.two.numr</key>
	<array>
		<string>two.dnom</string>
		<string>two.numr</string>
		<string>twosuperior</string>
	</array>
	<key>public.kern2.u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>udotbelow</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
	</array>
	<key>public.kern2.uni2113</key>
	<array>
		<string>uni2113</string>
	</array>
	<key>public.kern2.v</key>
	<array>
		<string>v</string>
	</array>
	<key>public.kern2.w</key>
	<array>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
	</array>
	<key>public.kern2.x</key>
	<array>
		<string>x</string>
	</array>
	<key>public.kern2.y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ydotbelow</string>
		<string>ygrave</string>
		<string>yhookabove</string>
		<string>ytilde</string>
	</array>
	<key>public.kern2.yen</key>
	<array>
		<string>yen</string>
	</array>
	<key>public.kern2.z</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
	<key>public.kern2.zero</key>
	<array>
		<string>zero</string>
	</array>
	<key>public.kern2.zero.numr</key>
	<array>
		<string>zero.dnom</string>
		<string>zero.numr</string>
		<string>zerosuperior</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>degree</string>
	</array>
</dict>
</plist>
