<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>F</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-40</integer>
		<key>public.kern2.a</key>
		<integer>-50</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-20</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>public.kern2.a</key>
		<integer>-40</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-10</integer>
		<key>public.kern2.a</key>
		<integer>-40</integer>
	</dict>
	<key>Y.alt</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-30</integer>
	</dict>
	<key>caroncomb.alt</key>
	<dict>
		<key>d</key>
		<integer>-120</integer>
		<key>public.kern2.a</key>
		<integer>-120</integer>
		<key>public.kern2.o</key>
		<integer>-120</integer>
		<key>s</key>
		<integer>-120</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>asterisk</key>
		<integer>80</integer>
		<key>public.kern2.parenright</key>
		<integer>50</integer>
		<key>public.kern2.quotedbl</key>
		<integer>80</integer>
	</dict>
	<key>fraction</key>
	<dict>
		<key>four.dnom</key>
		<integer>-40</integer>
		<key>zero.dnom</key>
		<integer>-60</integer>
	</dict>
	<key>leaf</key>
	<dict>
		<key>lemon</key>
		<integer>300</integer>
	</dict>
	<key>lemon</key>
	<dict>
		<key>leaf</key>
		<integer>240</integer>
	</dict>
	<key>public.kern1.A</key>
	<dict>
		<key>Y</key>
		<integer>-30</integer>
		<key>Y.alt</key>
		<integer>-70</integer>
		<key>public.kern2.T</key>
		<integer>-40</integer>
		<key>public.kern2.V</key>
		<integer>-36</integer>
		<key>public.kern2.Y</key>
		<integer>-30</integer>
		<key>public.kern2.quotedbl</key>
		<integer>-30</integer>
	</dict>
	<key>public.kern1.L</key>
	<dict>
		<key>O</key>
		<integer>-20</integer>
		<key>public.kern2.T</key>
		<integer>-50</integer>
		<key>public.kern2.quotedbl</key>
		<integer>-60</integer>
	</dict>
	<key>public.kern1.T</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-40</integer>
		<key>public.kern2.a</key>
		<integer>-60</integer>
		<key>public.kern2.comma</key>
		<integer>-100</integer>
		<key>public.kern2.o</key>
		<integer>-50</integer>
	</dict>
	<key>public.kern1.V</key>
	<dict>
		<key>public.kern2.a</key>
		<integer>-26</integer>
	</dict>
	<key>public.kern1.Y</key>
	<dict>
		<key>public.kern2.a</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.k</key>
	<dict>
		<key>public.kern2.a</key>
		<integer>0</integer>
	</dict>
	<key>public.kern1.o</key>
	<dict>
		<key>x</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.quotedbl</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-40</integer>
	</dict>
	<key>public.kern1.quotedblleft</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-30</integer>
	</dict>
	<key>public.kern1.r</key>
	<dict>
		<key>public.kern2.a</key>
		<integer>-20</integer>
		<key>public.kern2.o</key>
		<integer>-20</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>public.kern2.a</key>
		<integer>-20</integer>
	</dict>
	<key>zero.numr</key>
	<dict>
		<key>fraction</key>
		<integer>-60</integer>
	</dict>
</dict>
</plist>
