<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GSDimensionPlugin.Dimensions</key>
	<dict>
		<key>72FD83BD-A9F6-48B4-8CEA-331AE6F11CF9</key>
		<dict>
			<key>arAlef</key>
			<string>197</string>
			<key>arBar</key>
			<string>161</string>
			<key>arRoundThick</key>
			<string>160</string>
			<key>arRoundThin</key>
			<string>193</string>
		</dict>
		<key>833A345D-F5FC-4136-BC05-A08F75A897C3</key>
		<dict>
			<key>arAlef</key>
			<string>88.6</string>
			<key>arBar</key>
			<string>85</string>
			<key>arRoundThick</key>
			<string>88</string>
			<key>arRoundThin</key>
			<string>87</string>
		</dict>
	</dict>
	<key>com.schriftgestaltung.fontMaster.userData</key>
	<dict>
		<key>GSOffsetHorizontal</key>
		<real>44.3</real>
		<key>GSOffsetMakeStroke</key>
		<string>1</string>
		<key>GSOffsetPosition</key>
		<string>1</string>
		<key>GSOffsetVertical</key>
		<real>42.5</real>
	</dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>833A345D-F5FC-4136-BC05-A08F75A897C3</string>
	<key>com.schriftgestaltung.weight</key>
	<string>Light</string>
	<key>com.schriftgestaltung.weightValue</key>
	<integer>110</integer>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Abreveacute</string>
		<string>Abrevedotbelow</string>
		<string>Abrevegrave</string>
		<string>Abrevehookabove</string>
		<string>Abrevetilde</string>
		<string>Acircumflex</string>
		<string>Acircumflexacute</string>
		<string>Acircumflexdotbelow</string>
		<string>Acircumflexgrave</string>
		<string>Acircumflexhookabove</string>
		<string>Acircumflextilde</string>
		<string>Adieresis</string>
		<string>Adotbelow</string>
		<string>Agrave</string>
		<string>Ahookabove</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Aringacute</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>AEacute</string>
		<string>B</string>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Ecircumflexacute</string>
		<string>Ecircumflexdotbelow</string>
		<string>Ecircumflexgrave</string>
		<string>Ecircumflexhookabove</string>
		<string>Ecircumflextilde</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Edotbelow</string>
		<string>Egrave</string>
		<string>Ehookabove</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>Etilde</string>
		<string>F</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>H</string>
		<string>Hbar</string>
		<string>Hcircumflex</string>
		<string>I</string>
		<string>IJ</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Idotbelow</string>
		<string>Igrave</string>
		<string>Ihookabove</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>J</string>
		<string>Jcircumflex</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Ldot</string>
		<string>Lslash</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Eng</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>Ocircumflexacute</string>
		<string>Ocircumflexdotbelow</string>
		<string>Ocircumflexgrave</string>
		<string>Ocircumflexhookabove</string>
		<string>Ocircumflextilde</string>
		<string>Odieresis</string>
		<string>Odotbelow</string>
		<string>Ograve</string>
		<string>Ohookabove</string>
		<string>Ohorn</string>
		<string>Ohornacute</string>
		<string>Ohorndotbelow</string>
		<string>Ohorngrave</string>
		<string>Ohornhookabove</string>
		<string>Ohorntilde</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>P</string>
		<string>Thorn</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>Scommaaccent</string>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>Tcommaaccent</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Udotbelow</string>
		<string>Ugrave</string>
		<string>Uhookabove</string>
		<string>Uhorn</string>
		<string>Uhornacute</string>
		<string>Uhorndotbelow</string>
		<string>Uhorngrave</string>
		<string>Uhornhookabove</string>
		<string>Uhorntilde</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ydotbelow</string>
		<string>Ygrave</string>
		<string>Yhookabove</string>
		<string>Ytilde</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>O.alt</string>
		<string>Y.alt</string>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>abreveacute</string>
		<string>abrevedotbelow</string>
		<string>abrevegrave</string>
		<string>abrevehookabove</string>
		<string>abrevetilde</string>
		<string>acircumflex</string>
		<string>acircumflexacute</string>
		<string>acircumflexdotbelow</string>
		<string>acircumflexgrave</string>
		<string>acircumflexhookabove</string>
		<string>acircumflextilde</string>
		<string>adieresis</string>
		<string>adotbelow</string>
		<string>agrave</string>
		<string>ahookabove</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>aringacute</string>
		<string>atilde</string>
		<string>ae</string>
		<string>aeacute</string>
		<string>b</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>eth</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>e</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>ecircumflexacute</string>
		<string>ecircumflexdotbelow</string>
		<string>ecircumflexgrave</string>
		<string>ecircumflexhookabove</string>
		<string>ecircumflextilde</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>edotbelow</string>
		<string>egrave</string>
		<string>ehookabove</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>etilde</string>
		<string>f</string>
		<string>g</string>
		<string>gbreve</string>
		<string>gcircumflex</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
		<string>h</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>i</string>
		<string>idotless</string>
		<string>iacute</string>
		<string>ibreve</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>idotaccent</string>
		<string>idotbelow</string>
		<string>igrave</string>
		<string>ihookabove</string>
		<string>ij</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>j</string>
		<string>jdotless</string>
		<string>jcircumflex</string>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>kgreenlandic</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>ldot</string>
		<string>lslash</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>eng</string>
		<string>ntilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocircumflex</string>
		<string>ocircumflexacute</string>
		<string>ocircumflexdotbelow</string>
		<string>ocircumflexgrave</string>
		<string>ocircumflexhookabove</string>
		<string>ocircumflextilde</string>
		<string>odieresis</string>
		<string>odotbelow</string>
		<string>ograve</string>
		<string>ohookabove</string>
		<string>ohorn</string>
		<string>ohornacute</string>
		<string>ohorndotbelow</string>
		<string>ohorngrave</string>
		<string>ohornhookabove</string>
		<string>ohorntilde</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>otilde</string>
		<string>oe</string>
		<string>p</string>
		<string>thorn</string>
		<string>q</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>scommaaccent</string>
		<string>germandbls</string>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>tcedilla</string>
		<string>tcommaaccent</string>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>udotbelow</string>
		<string>ugrave</string>
		<string>uhookabove</string>
		<string>uhorn</string>
		<string>uhornacute</string>
		<string>uhorndotbelow</string>
		<string>uhorngrave</string>
		<string>uhornhookabove</string>
		<string>uhorntilde</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ydotbelow</string>
		<string>ygrave</string>
		<string>yhookabove</string>
		<string>ytilde</string>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>h.alt</string>
		<string>f.alt</string>
		<string>f_f</string>
		<string>fi</string>
		<string>fl</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>uni0394</string>
		<string>Omega</string>
		<string>pi</string>
		<string>hamza-ar</string>
		<string>alef-ar</string>
		<string>alef-ar.fina</string>
		<string>alef-ar.short</string>
		<string>alef-ar.fina.short</string>
		<string>alefHamzaabove-ar</string>
		<string>alefHamzaabove-ar.fina</string>
		<string>alefHamzabelow-ar</string>
		<string>alefHamzabelow-ar.fina</string>
		<string>alefMadda-ar</string>
		<string>alefMadda-ar.fina</string>
		<string>alefWasla-ar</string>
		<string>alefWasla-ar.fina</string>
		<string>dotlessbeh-ar</string>
		<string>dotlessbeh-ar.fina</string>
		<string>dotlessbeh-ar.medi</string>
		<string>dotlessbeh-ar.init</string>
		<string>beh-ar</string>
		<string>beh-ar.fina</string>
		<string>beh-ar.medi</string>
		<string>beh-ar.init</string>
		<string>peh-ar</string>
		<string>peh-ar.fina</string>
		<string>peh-ar.medi</string>
		<string>peh-ar.init</string>
		<string>alefMaksura-ar.medi</string>
		<string>alefMaksura-ar.init</string>
		<string>teh-ar</string>
		<string>teh-ar.fina</string>
		<string>teh-ar.medi</string>
		<string>teh-ar.init</string>
		<string>theh-ar</string>
		<string>theh-ar.fina</string>
		<string>theh-ar.medi</string>
		<string>theh-ar.init</string>
		<string>tteh-ar</string>
		<string>tteh-ar.fina</string>
		<string>tteh-ar.medi</string>
		<string>tteh-ar.init</string>
		<string>jeem-ar</string>
		<string>jeem-ar.fina</string>
		<string>jeem-ar.medi</string>
		<string>jeem-ar.init</string>
		<string>tcheh-ar</string>
		<string>tcheh-ar.fina</string>
		<string>tcheh-ar.medi</string>
		<string>tcheh-ar.init</string>
		<string>hah-ar</string>
		<string>hah-ar.fina</string>
		<string>hah-ar.medi</string>
		<string>hah-ar.init</string>
		<string>khah-ar</string>
		<string>khah-ar.fina</string>
		<string>khah-ar.medi</string>
		<string>khah-ar.init</string>
		<string>dal-ar</string>
		<string>dal-ar.fina</string>
		<string>thal-ar</string>
		<string>thal-ar.fina</string>
		<string>ddal-ar</string>
		<string>ddal-ar.fina</string>
		<string>reh-ar</string>
		<string>reh-ar.fina</string>
		<string>zain-ar</string>
		<string>zain-ar.fina</string>
		<string>rreh-ar</string>
		<string>rreh-ar.fina</string>
		<string>jeh-ar</string>
		<string>jeh-ar.fina</string>
		<string>seen-ar</string>
		<string>seen-ar.fina</string>
		<string>seen-ar.medi</string>
		<string>seen-ar.init</string>
		<string>sheen-ar</string>
		<string>sheen-ar.fina</string>
		<string>sheen-ar.medi</string>
		<string>sheen-ar.init</string>
		<string>sad-ar</string>
		<string>sad-ar.fina</string>
		<string>sad-ar.medi</string>
		<string>sad-ar.init</string>
		<string>dad-ar</string>
		<string>dad-ar.fina</string>
		<string>dad-ar.medi</string>
		<string>dad-ar.init</string>
		<string>tah-ar</string>
		<string>tah-ar.fina</string>
		<string>tah-ar.medi</string>
		<string>tah-ar.init</string>
		<string>zah-ar</string>
		<string>zah-ar.fina</string>
		<string>zah-ar.medi</string>
		<string>zah-ar.init</string>
		<string>ain-ar</string>
		<string>ain-ar.fina</string>
		<string>ain-ar.medi</string>
		<string>ain-ar.init</string>
		<string>ghain-ar</string>
		<string>ghain-ar.fina</string>
		<string>ghain-ar.medi</string>
		<string>ghain-ar.init</string>
		<string>feh-ar</string>
		<string>feh-ar.fina</string>
		<string>feh-ar.medi</string>
		<string>feh-ar.init</string>
		<string>veh-ar</string>
		<string>veh-ar.fina</string>
		<string>veh-ar.medi</string>
		<string>veh-ar.init</string>
		<string>dotlessfeh-ar</string>
		<string>dotlessfeh-ar.fina</string>
		<string>dotlessfeh-ar.medi</string>
		<string>dotlessfeh-ar.init</string>
		<string>dotlessqaf-ar</string>
		<string>dotlessqaf-ar.fina</string>
		<string>dotlessqaf-ar.medi</string>
		<string>dotlessqaf-ar.init</string>
		<string>qaf-ar</string>
		<string>qaf-ar.fina</string>
		<string>qaf-ar.medi</string>
		<string>qaf-ar.init</string>
		<string>dotlesskaf-ar</string>
		<string>dotlesskaf-ar.fina</string>
		<string>kaf-ar</string>
		<string>kaf-ar.fina</string>
		<string>kaf-ar.medi</string>
		<string>kaf-ar.init</string>
		<string>keheh-ar</string>
		<string>keheh-ar.fina</string>
		<string>keheh-ar.medi</string>
		<string>keheh-ar.init</string>
		<string>gaf-ar</string>
		<string>gaf-ar.fina</string>
		<string>gaf-ar.medi</string>
		<string>gaf-ar.init</string>
		<string>lam-ar</string>
		<string>lam-ar.fina</string>
		<string>lam-ar.medi</string>
		<string>lam-ar.init</string>
		<string>meem-ar</string>
		<string>meem-ar.fina</string>
		<string>meem-ar.medi</string>
		<string>meem-ar.init</string>
		<string>noon-ar</string>
		<string>noon-ar.fina</string>
		<string>noon-ar.medi</string>
		<string>noon-ar.init</string>
		<string>noonghunna-ar</string>
		<string>noonghunna-ar.medi</string>
		<string>noonghunna-ar.init</string>
		<string>noonghunna-ar.fina</string>
		<string>heh-ar</string>
		<string>heh-ar.fina</string>
		<string>heh-ar.medi</string>
		<string>heh-ar.init</string>
		<string>hehgoal-ar</string>
		<string>hehgoal-ar.fina</string>
		<string>hehgoal-ar.medi</string>
		<string>hehgoal-ar.init</string>
		<string>hehgoalHamzaabove-ar</string>
		<string>hehgoalHamzaabove-ar.fina</string>
		<string>hehgoalHamzaabove-ar.medi</string>
		<string>hehgoalHamzaabove-ar.init</string>
		<string>hehDoachashmee-ar</string>
		<string>hehDoachashmee-ar.fina</string>
		<string>hehDoachashmee-ar.medi</string>
		<string>hehDoachashmee-ar.init</string>
		<string>tehMarbuta-ar</string>
		<string>tehMarbuta-ar.fina</string>
		<string>tehMarbutagoal-ar</string>
		<string>tehMarbutagoal-ar.fina</string>
		<string>waw-ar</string>
		<string>waw-ar.fina</string>
		<string>wawHamzaabove-ar</string>
		<string>wawHamzaabove-ar.fina</string>
		<string>alefMaksura-ar</string>
		<string>alefMaksura-ar.fina</string>
		<string>yeh-ar</string>
		<string>yeh-ar.fina</string>
		<string>yeh-ar.medi</string>
		<string>yeh-ar.init</string>
		<string>yehHamzaabove-ar</string>
		<string>yehHamzaabove-ar.fina</string>
		<string>yehHamzaabove-ar.medi</string>
		<string>yehHamzaabove-ar.init</string>
		<string>yeh-farsi</string>
		<string>yeh-farsi.fina</string>
		<string>yeh-farsi.medi</string>
		<string>yeh-farsi.init</string>
		<string>yehbarree-ar</string>
		<string>yehbarree-ar.fina</string>
		<string>yehbarreeHamzaabove-ar</string>
		<string>yehbarreeHamzaabove-ar.fina</string>
		<string>kashida-ar</string>
		<string>lam_alef-ar</string>
		<string>lam_alef-ar.fina</string>
		<string>lam_alefHamzaabove-ar</string>
		<string>lam_alefHamzaabove-ar.fina</string>
		<string>lam_alefHamzabelow-ar</string>
		<string>lam_alefHamzabelow-ar.fina</string>
		<string>lam_alefMadda-ar</string>
		<string>lam_alefMadda-ar.fina</string>
		<string>lam_alefWasla-ar</string>
		<string>lam_alefWasla-ar.fina</string>
		<string>allah-ar</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>zero.dnom</string>
		<string>one.dnom</string>
		<string>two.dnom</string>
		<string>three.dnom</string>
		<string>four.dnom</string>
		<string>five.dnom</string>
		<string>six.dnom</string>
		<string>seven.dnom</string>
		<string>eight.dnom</string>
		<string>nine.dnom</string>
		<string>zero.numr</string>
		<string>one.numr</string>
		<string>two.numr</string>
		<string>three.numr</string>
		<string>four.numr</string>
		<string>five.numr</string>
		<string>six.numr</string>
		<string>seven.numr</string>
		<string>eight.numr</string>
		<string>nine.numr</string>
		<string>zerosuperior</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>foursuperior</string>
		<string>fraction</string>
		<string>onehalf</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>decimalseparator-ar</string>
		<string>thousandseparator-ar</string>
		<string>zero-ar</string>
		<string>one-ar</string>
		<string>two-ar</string>
		<string>three-ar</string>
		<string>four-ar</string>
		<string>five-ar</string>
		<string>six-ar</string>
		<string>seven-ar</string>
		<string>eight-ar</string>
		<string>nine-ar</string>
		<string>zero-persian</string>
		<string>one-persian</string>
		<string>two-persian</string>
		<string>three-persian</string>
		<string>four-persian</string>
		<string>five-persian</string>
		<string>six-persian</string>
		<string>seven-persian</string>
		<string>eight-persian</string>
		<string>nine-persian</string>
		<string>four-persian.urdu</string>
		<string>seven-persian.urdu</string>
		<string>asterisk</string>
		<string>backslash</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>colon</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>numbersign</string>
		<string>period</string>
		<string>question</string>
		<string>questiondown</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>semicolon</string>
		<string>slash</string>
		<string>underscore</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotesinglbase</string>
		<string>fullstop-ar</string>
		<string>comma-ar</string>
		<string>semicolon-ar</string>
		<string>question-ar</string>
		<string>asterisk-ar</string>
		<string>parenleft-ar</string>
		<string>parenright-ar</string>
		<string>space</string>
		<string>CR</string>
		<string>.notdef</string>
		<string>Euro</string>
		<string>cent</string>
		<string>currency</string>
		<string>dollar</string>
		<string>florin</string>
		<string>franc</string>
		<string>lira</string>
		<string>sterling</string>
		<string>yen</string>
		<string>plus</string>
		<string>minus</string>
		<string>multiply</string>
		<string>divide</string>
		<string>equal</string>
		<string>notequal</string>
		<string>greater</string>
		<string>less</string>
		<string>greaterequal</string>
		<string>lessequal</string>
		<string>plusminus</string>
		<string>approxequal</string>
		<string>asciitilde</string>
		<string>logicalnot</string>
		<string>infinity</string>
		<string>integral</string>
		<string>Ohm</string>
		<string>Delta</string>
		<string>product</string>
		<string>summation</string>
		<string>radical</string>
		<string>mu</string>
		<string>partialdiff</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>dottedCircle</string>
		<string>lozenge</string>
		<string>apple</string>
		<string>at</string>
		<string>ampersand</string>
		<string>paragraph</string>
		<string>section</string>
		<string>copyright</string>
		<string>registered</string>
		<string>trademark</string>
		<string>degree</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>uni2113</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>estimated</string>
		<string>asciicircum</string>
		<string>lemon</string>
		<string>percent-ar</string>
		<string>dieresiscomb</string>
		<string>dotaccentcomb</string>
		<string>gravecomb</string>
		<string>acutecomb</string>
		<string>hungarumlautcomb</string>
		<string>caroncomb.alt</string>
		<string>circumflexcomb</string>
		<string>caroncomb</string>
		<string>brevecomb</string>
		<string>ringcomb</string>
		<string>tildecomb</string>
		<string>macroncomb</string>
		<string>hookabovecomb</string>
		<string>commaturnedabovecomb</string>
		<string>horncomb</string>
		<string>dotbelowcomb</string>
		<string>commaaccentcomb</string>
		<string>cedillacomb</string>
		<string>ogonekcomb</string>
		<string>strokeshortcomb</string>
		<string>strokelongcomb</string>
		<string>slashshortcomb</string>
		<string>slashlongcomb</string>
		<string>strokeshortcomb.Rhalf</string>
		<string>strokeshortcomb.alt</string>
		<string>acute</string>
		<string>breve</string>
		<string>caron</string>
		<string>cedilla</string>
		<string>circumflex</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>hungarumlaut</string>
		<string>macron</string>
		<string>ogonek</string>
		<string>ring</string>
		<string>tilde</string>
		<string>tahabove-ar</string>
		<string>dotabove-ar</string>
		<string>dotbelow-ar</string>
		<string>dotcenter-ar</string>
		<string>twodotsverticalabove-ar</string>
		<string>twodotsverticalbelow-ar</string>
		<string>twodotshorizontalabove-ar</string>
		<string>twodotshorizontalbelow-ar</string>
		<string>threedotsdownabove-ar</string>
		<string>threedotsdownbelow-ar</string>
		<string>threedotsupabove-ar</string>
		<string>threedotsupbelow-ar</string>
		<string>wasla-ar</string>
		<string>alefabove-ar</string>
		<string>alefbelow-ar</string>
		<string>hamzaabove-ar</string>
		<string>hamzabelow-ar</string>
		<string>hamzacenter-ar</string>
		<string>hamzaaboveDamma-ar</string>
		<string>hamzaaboveDammatan-ar</string>
		<string>hamzaaboveFatha-ar</string>
		<string>hamzaaboveFathatan-ar</string>
		<string>hamzaaboveSukun-ar</string>
		<string>hamzabelowKasra-ar</string>
		<string>hamzabelowKasratan-ar</string>
		<string>fathatan-ar</string>
		<string>dammatan-ar</string>
		<string>kasratan-ar</string>
		<string>fatha-ar</string>
		<string>damma-ar</string>
		<string>kasra-ar</string>
		<string>shadda-ar</string>
		<string>sukun-ar</string>
		<string>madda-ar</string>
		<string>shaddaAlefabove-ar</string>
		<string>shaddaDamma-ar</string>
		<string>shaddaDammatan-ar</string>
		<string>shaddaFatha-ar</string>
		<string>shaddaFathatan-ar</string>
		<string>shaddaKasra-ar</string>
		<string>shaddaKasratan-ar</string>
		<string>noonghunnaabove-ar</string>
		<string>brevecomb_acutecomb</string>
		<string>brevecomb_gravecomb</string>
		<string>brevecomb_hookabovecomb</string>
		<string>brevecomb_tildecomb</string>
		<string>circumflexcomb_acutecomb</string>
		<string>circumflexcomb_gravecomb</string>
		<string>circumflexcomb_hookabovecomb</string>
		<string>circumflexcomb_tildecomb</string>
		<string>leaf</string>
		<string>barra</string>
		<string>diagonal</string>
		<string>connection_r</string>
		<string>connection_l</string>
	</array>
	<key>public.postscriptNames</key>
	<dict>
		<key>Abreveacute</key>
		<string>uni1EAE</string>
		<key>Abrevedotbelow</key>
		<string>uni1EB6</string>
		<key>Abrevegrave</key>
		<string>uni1EB0</string>
		<key>Abrevehookabove</key>
		<string>uni1EB2</string>
		<key>Abrevetilde</key>
		<string>uni1EB4</string>
		<key>Acircumflexacute</key>
		<string>uni1EA4</string>
		<key>Acircumflexdotbelow</key>
		<string>uni1EAC</string>
		<key>Acircumflexgrave</key>
		<string>uni1EA6</string>
		<key>Acircumflexhookabove</key>
		<string>uni1EA8</string>
		<key>Acircumflextilde</key>
		<string>uni1EAA</string>
		<key>Adotbelow</key>
		<string>uni1EA0</string>
		<key>Ahookabove</key>
		<string>uni1EA2</string>
		<key>Delta</key>
		<string>uni0394</string>
		<key>Ecircumflexacute</key>
		<string>uni1EBE</string>
		<key>Ecircumflexdotbelow</key>
		<string>uni1EC6</string>
		<key>Ecircumflexgrave</key>
		<string>uni1EC0</string>
		<key>Ecircumflexhookabove</key>
		<string>uni1EC2</string>
		<key>Ecircumflextilde</key>
		<string>uni1EC4</string>
		<key>Edotbelow</key>
		<string>uni1EB8</string>
		<key>Ehookabove</key>
		<string>uni1EBA</string>
		<key>Etilde</key>
		<string>uni1EBC</string>
		<key>Gcommaaccent</key>
		<string>uni0122</string>
		<key>Idotbelow</key>
		<string>uni1ECA</string>
		<key>Ihookabove</key>
		<string>uni1EC8</string>
		<key>Kcommaaccent</key>
		<string>uni0136</string>
		<key>Lcommaaccent</key>
		<string>uni013B</string>
		<key>Ncommaaccent</key>
		<string>uni0145</string>
		<key>Ocircumflexacute</key>
		<string>uni1ED0</string>
		<key>Ocircumflexdotbelow</key>
		<string>uni1ED8</string>
		<key>Ocircumflexgrave</key>
		<string>uni1ED2</string>
		<key>Ocircumflexhookabove</key>
		<string>uni1ED4</string>
		<key>Ocircumflextilde</key>
		<string>uni1ED6</string>
		<key>Odotbelow</key>
		<string>uni1ECC</string>
		<key>Ohm</key>
		<string>uni2126</string>
		<key>Ohookabove</key>
		<string>uni1ECE</string>
		<key>Ohornacute</key>
		<string>uni1EDA</string>
		<key>Ohorndotbelow</key>
		<string>uni1EE2</string>
		<key>Ohorngrave</key>
		<string>uni1EDC</string>
		<key>Ohornhookabove</key>
		<string>uni1EDE</string>
		<key>Ohorntilde</key>
		<string>uni1EE0</string>
		<key>Omega</key>
		<string>uni03A9</string>
		<key>Rcommaaccent</key>
		<string>uni0156</string>
		<key>Scommaaccent</key>
		<string>uni0218</string>
		<key>Tcedilla</key>
		<string>uni0162</string>
		<key>Tcommaaccent</key>
		<string>uni021A</string>
		<key>Udotbelow</key>
		<string>uni1EE4</string>
		<key>Uhookabove</key>
		<string>uni1EE6</string>
		<key>Uhornacute</key>
		<string>uni1EE8</string>
		<key>Uhorndotbelow</key>
		<string>uni1EF0</string>
		<key>Uhorngrave</key>
		<string>uni1EEA</string>
		<key>Uhornhookabove</key>
		<string>uni1EEC</string>
		<key>Uhorntilde</key>
		<string>uni1EEE</string>
		<key>Ydotbelow</key>
		<string>uni1EF4</string>
		<key>Yhookabove</key>
		<string>uni1EF6</string>
		<key>Ytilde</key>
		<string>uni1EF8</string>
		<key>abreveacute</key>
		<string>uni1EAF</string>
		<key>abrevedotbelow</key>
		<string>uni1EB7</string>
		<key>abrevegrave</key>
		<string>uni1EB1</string>
		<key>abrevehookabove</key>
		<string>uni1EB3</string>
		<key>abrevetilde</key>
		<string>uni1EB5</string>
		<key>acircumflexacute</key>
		<string>uni1EA5</string>
		<key>acircumflexdotbelow</key>
		<string>uni1EAD</string>
		<key>acircumflexgrave</key>
		<string>uni1EA7</string>
		<key>acircumflexhookabove</key>
		<string>uni1EA9</string>
		<key>acircumflextilde</key>
		<string>uni1EAB</string>
		<key>adotbelow</key>
		<string>uni1EA1</string>
		<key>ahookabove</key>
		<string>uni1EA3</string>
		<key>ain-ar</key>
		<string>uni0639</string>
		<key>ain-ar.fina</key>
		<string>uniFECA</string>
		<key>ain-ar.init</key>
		<string>uniFECB</string>
		<key>ain-ar.medi</key>
		<string>uniFECC</string>
		<key>alef-ar</key>
		<string>uni0627</string>
		<key>alef-ar.fina</key>
		<string>uniFE8E</string>
		<key>alefHamzaabove-ar</key>
		<string>uni0623</string>
		<key>alefHamzaabove-ar.fina</key>
		<string>uniFE84</string>
		<key>alefHamzabelow-ar</key>
		<string>uni0625</string>
		<key>alefHamzabelow-ar.fina</key>
		<string>uniFE88</string>
		<key>alefMadda-ar</key>
		<string>uni0622</string>
		<key>alefMadda-ar.fina</key>
		<string>uniFE82</string>
		<key>alefMaksura-ar</key>
		<string>uni0649</string>
		<key>alefMaksura-ar.fina</key>
		<string>uniFEF0</string>
		<key>alefMaksura-ar.init</key>
		<string>uniFBE8</string>
		<key>alefMaksura-ar.medi</key>
		<string>uniFBE9</string>
		<key>alefWasla-ar</key>
		<string>uni0671</string>
		<key>alefWasla-ar.fina</key>
		<string>uniFB51</string>
		<key>alefabove-ar</key>
		<string>uni0670</string>
		<key>alefbelow-ar</key>
		<string>uni0656</string>
		<key>allah-ar</key>
		<string>uniFDF2</string>
		<key>apple</key>
		<string>uniF8FF</string>
		<key>asterisk-ar</key>
		<string>uni066D</string>
		<key>beh-ar</key>
		<string>uni0628</string>
		<key>beh-ar.fina</key>
		<string>uniFE90</string>
		<key>beh-ar.init</key>
		<string>uniFE91</string>
		<key>beh-ar.medi</key>
		<string>uniFE92</string>
		<key>brevecomb</key>
		<string>uni0306</string>
		<key>caroncomb</key>
		<string>uni030C</string>
		<key>cedillacomb</key>
		<string>uni0327</string>
		<key>circumflexcomb</key>
		<string>uni0302</string>
		<key>comma-ar</key>
		<string>uni060C</string>
		<key>commaaccentcomb</key>
		<string>uni0326</string>
		<key>commaturnedabovecomb</key>
		<string>uni0312</string>
		<key>dad-ar</key>
		<string>uni0636</string>
		<key>dad-ar.fina</key>
		<string>uniFEBE</string>
		<key>dad-ar.init</key>
		<string>uniFEBF</string>
		<key>dad-ar.medi</key>
		<string>uniFEC0</string>
		<key>dal-ar</key>
		<string>uni062F</string>
		<key>dal-ar.fina</key>
		<string>uniFEAA</string>
		<key>damma-ar</key>
		<string>uni064F</string>
		<key>dammatan-ar</key>
		<string>uni064C</string>
		<key>ddal-ar</key>
		<string>uni0688</string>
		<key>ddal-ar.fina</key>
		<string>uniFB89</string>
		<key>decimalseparator-ar</key>
		<string>uni066B</string>
		<key>dieresiscomb</key>
		<string>uni0308</string>
		<key>dotabove-ar</key>
		<string>uniFBB2</string>
		<key>dotaccentcomb</key>
		<string>uni0307</string>
		<key>dotbelow-ar</key>
		<string>uniFBB3</string>
		<key>dottedCircle</key>
		<string>uni25CC</string>
		<key>ecircumflexacute</key>
		<string>uni1EBF</string>
		<key>ecircumflexdotbelow</key>
		<string>uni1EC7</string>
		<key>ecircumflexgrave</key>
		<string>uni1EC1</string>
		<key>ecircumflexhookabove</key>
		<string>uni1EC3</string>
		<key>ecircumflextilde</key>
		<string>uni1EC5</string>
		<key>edotbelow</key>
		<string>uni1EB9</string>
		<key>ehookabove</key>
		<string>uni1EBB</string>
		<key>eight-ar</key>
		<string>uni0668</string>
		<key>eight-persian</key>
		<string>uni06F8</string>
		<key>etilde</key>
		<string>uni1EBD</string>
		<key>fatha-ar</key>
		<string>uni064E</string>
		<key>fathatan-ar</key>
		<string>uni064B</string>
		<key>feh-ar</key>
		<string>uni0641</string>
		<key>feh-ar.fina</key>
		<string>uniFED2</string>
		<key>feh-ar.init</key>
		<string>uniFED3</string>
		<key>feh-ar.medi</key>
		<string>uniFED4</string>
		<key>five-ar</key>
		<string>uni0665</string>
		<key>five-persian</key>
		<string>uni06F5</string>
		<key>four-ar</key>
		<string>uni0664</string>
		<key>four-persian</key>
		<string>uni06F4</string>
		<key>foursuperior</key>
		<string>uni2074</string>
		<key>fullstop-ar</key>
		<string>uni06D4</string>
		<key>gaf-ar</key>
		<string>uni06AF</string>
		<key>gaf-ar.fina</key>
		<string>uniFB93</string>
		<key>gaf-ar.init</key>
		<string>uniFB94</string>
		<key>gaf-ar.medi</key>
		<string>uniFB95</string>
		<key>gcommaaccent</key>
		<string>uni0123</string>
		<key>ghain-ar</key>
		<string>uni063A</string>
		<key>ghain-ar.fina</key>
		<string>uniFECE</string>
		<key>ghain-ar.init</key>
		<string>uniFECF</string>
		<key>ghain-ar.medi</key>
		<string>uniFED0</string>
		<key>hah-ar</key>
		<string>uni062D</string>
		<key>hah-ar.fina</key>
		<string>uniFEA2</string>
		<key>hah-ar.init</key>
		<string>uniFEA3</string>
		<key>hah-ar.medi</key>
		<string>uniFEA4</string>
		<key>hamza-ar</key>
		<string>uni0621</string>
		<key>hamzaabove-ar</key>
		<string>uni0654</string>
		<key>hamzabelow-ar</key>
		<string>uni0655</string>
		<key>heh-ar</key>
		<string>uni0647</string>
		<key>heh-ar.fina</key>
		<string>uniFEEA</string>
		<key>heh-ar.init</key>
		<string>uniFEEB</string>
		<key>heh-ar.medi</key>
		<string>uniFEEC</string>
		<key>hehDoachashmee-ar</key>
		<string>uni06BE</string>
		<key>hehDoachashmee-ar.fina</key>
		<string>uniFBAB</string>
		<key>hehDoachashmee-ar.init</key>
		<string>uniFBAC</string>
		<key>hehDoachashmee-ar.medi</key>
		<string>uniFBAD</string>
		<key>hehgoal-ar</key>
		<string>uni06C1</string>
		<key>hehgoal-ar.fina</key>
		<string>uniFBA7</string>
		<key>hehgoal-ar.init</key>
		<string>uniFBA8</string>
		<key>hehgoal-ar.medi</key>
		<string>uniFBA9</string>
		<key>hehgoalHamzaabove-ar</key>
		<string>uni06C2</string>
		<key>horncomb</key>
		<string>uni031B</string>
		<key>hungarumlautcomb</key>
		<string>uni030B</string>
		<key>idotaccent</key>
		<string>i.loclTRK</string>
		<key>idotbelow</key>
		<string>uni1ECB</string>
		<key>idotless</key>
		<string>dotlessi</string>
		<key>ihookabove</key>
		<string>uni1EC9</string>
		<key>jdotless</key>
		<string>uni0237</string>
		<key>jeem-ar</key>
		<string>uni062C</string>
		<key>jeem-ar.fina</key>
		<string>uniFE9E</string>
		<key>jeem-ar.init</key>
		<string>uniFE9F</string>
		<key>jeem-ar.medi</key>
		<string>uniFEA0</string>
		<key>jeh-ar</key>
		<string>uni0698</string>
		<key>jeh-ar.fina</key>
		<string>uniFB8B</string>
		<key>kaf-ar</key>
		<string>uni0643</string>
		<key>kaf-ar.fina</key>
		<string>uniFEDA</string>
		<key>kaf-ar.init</key>
		<string>uniFEDB</string>
		<key>kaf-ar.medi</key>
		<string>uniFEDC</string>
		<key>kashida-ar</key>
		<string>uni0640</string>
		<key>kasra-ar</key>
		<string>uni0650</string>
		<key>kasratan-ar</key>
		<string>uni064D</string>
		<key>kcommaaccent</key>
		<string>uni0137</string>
		<key>keheh-ar</key>
		<string>uni06A9</string>
		<key>keheh-ar.fina</key>
		<string>uniFB8F</string>
		<key>keheh-ar.init</key>
		<string>uniFB90</string>
		<key>keheh-ar.medi</key>
		<string>uniFB91</string>
		<key>khah-ar</key>
		<string>uni062E</string>
		<key>khah-ar.fina</key>
		<string>uniFEA6</string>
		<key>khah-ar.init</key>
		<string>uniFEA7</string>
		<key>khah-ar.medi</key>
		<string>uniFEA8</string>
		<key>lam-ar</key>
		<string>uni0644</string>
		<key>lam-ar.fina</key>
		<string>uniFEDE</string>
		<key>lam-ar.init</key>
		<string>uniFEDF</string>
		<key>lam-ar.medi</key>
		<string>uniFEE0</string>
		<key>lam_alef-ar</key>
		<string>uniFEFB</string>
		<key>lam_alef-ar.fina</key>
		<string>uniFEFC</string>
		<key>lam_alefHamzaabove-ar</key>
		<string>uniFEF7</string>
		<key>lam_alefHamzaabove-ar.fina</key>
		<string>uniFEF8</string>
		<key>lam_alefHamzabelow-ar</key>
		<string>uniFEF9</string>
		<key>lam_alefHamzabelow-ar.fina</key>
		<string>uniFEFA</string>
		<key>lam_alefMadda-ar</key>
		<string>uniFEF5</string>
		<key>lam_alefMadda-ar.fina</key>
		<string>uniFEF6</string>
		<key>lcommaaccent</key>
		<string>uni013C</string>
		<key>lemon</key>
		<string>u1F34B</string>
		<key>macroncomb</key>
		<string>uni0304</string>
		<key>madda-ar</key>
		<string>uni0653</string>
		<key>meem-ar</key>
		<string>uni0645</string>
		<key>meem-ar.fina</key>
		<string>uniFEE2</string>
		<key>meem-ar.init</key>
		<string>uniFEE3</string>
		<key>meem-ar.medi</key>
		<string>uniFEE4</string>
		<key>mu</key>
		<string>uni03BC</string>
		<key>ncommaaccent</key>
		<string>uni0146</string>
		<key>nine-ar</key>
		<string>uni0669</string>
		<key>nine-persian</key>
		<string>uni06F9</string>
		<key>noon-ar</key>
		<string>uni0646</string>
		<key>noon-ar.fina</key>
		<string>uniFEE6</string>
		<key>noon-ar.init</key>
		<string>uniFEE7</string>
		<key>noon-ar.medi</key>
		<string>uniFEE8</string>
		<key>noonghunna-ar</key>
		<string>uni06BA</string>
		<key>noonghunna-ar.fina</key>
		<string>uniFB9F</string>
		<key>noonghunnaabove-ar</key>
		<string>uni0658</string>
		<key>ocircumflexacute</key>
		<string>uni1ED1</string>
		<key>ocircumflexdotbelow</key>
		<string>uni1ED9</string>
		<key>ocircumflexgrave</key>
		<string>uni1ED3</string>
		<key>ocircumflexhookabove</key>
		<string>uni1ED5</string>
		<key>ocircumflextilde</key>
		<string>uni1ED7</string>
		<key>odotbelow</key>
		<string>uni1ECD</string>
		<key>ogonekcomb</key>
		<string>uni0328</string>
		<key>ohookabove</key>
		<string>uni1ECF</string>
		<key>ohornacute</key>
		<string>uni1EDB</string>
		<key>ohorndotbelow</key>
		<string>uni1EE3</string>
		<key>ohorngrave</key>
		<string>uni1EDD</string>
		<key>ohornhookabove</key>
		<string>uni1EDF</string>
		<key>ohorntilde</key>
		<string>uni1EE1</string>
		<key>one-ar</key>
		<string>uni0661</string>
		<key>one-persian</key>
		<string>uni06F1</string>
		<key>onesuperior</key>
		<string>uni00B9</string>
		<key>parenleft-ar</key>
		<string>uniFD3E</string>
		<key>parenright-ar</key>
		<string>uniFD3F</string>
		<key>peh-ar</key>
		<string>uni067E</string>
		<key>peh-ar.fina</key>
		<string>uniFB57</string>
		<key>peh-ar.init</key>
		<string>uniFB58</string>
		<key>peh-ar.medi</key>
		<string>uniFB59</string>
		<key>percent-ar</key>
		<string>uni066A</string>
		<key>qaf-ar</key>
		<string>uni0642</string>
		<key>qaf-ar.fina</key>
		<string>uniFED6</string>
		<key>qaf-ar.init</key>
		<string>uniFED7</string>
		<key>qaf-ar.medi</key>
		<string>uniFED8</string>
		<key>question-ar</key>
		<string>uni061F</string>
		<key>rcommaaccent</key>
		<string>uni0157</string>
		<key>reh-ar</key>
		<string>uni0631</string>
		<key>reh-ar.fina</key>
		<string>uniFEAE</string>
		<key>ringcomb</key>
		<string>uni030A</string>
		<key>rreh-ar</key>
		<string>uni0691</string>
		<key>rreh-ar.fina</key>
		<string>uniFB8D</string>
		<key>sad-ar</key>
		<string>uni0635</string>
		<key>sad-ar.fina</key>
		<string>uniFEBA</string>
		<key>sad-ar.init</key>
		<string>uniFEBB</string>
		<key>sad-ar.medi</key>
		<string>uniFEBC</string>
		<key>scommaaccent</key>
		<string>uni0219</string>
		<key>seen-ar</key>
		<string>uni0633</string>
		<key>seen-ar.fina</key>
		<string>uniFEB2</string>
		<key>seen-ar.init</key>
		<string>uniFEB3</string>
		<key>seen-ar.medi</key>
		<string>uniFEB4</string>
		<key>semicolon-ar</key>
		<string>uni061B</string>
		<key>seven-ar</key>
		<string>uni0667</string>
		<key>seven-persian</key>
		<string>uni06F7</string>
		<key>shadda-ar</key>
		<string>uni0651</string>
		<key>sheen-ar</key>
		<string>uni0634</string>
		<key>sheen-ar.fina</key>
		<string>uniFEB6</string>
		<key>sheen-ar.init</key>
		<string>uniFEB7</string>
		<key>sheen-ar.medi</key>
		<string>uniFEB8</string>
		<key>six-ar</key>
		<string>uni0666</string>
		<key>six-persian</key>
		<string>uni06F6</string>
		<key>slashlongcomb</key>
		<string>uni0338</string>
		<key>slashshortcomb</key>
		<string>uni0337</string>
		<key>strokelongcomb</key>
		<string>uni0336</string>
		<key>strokeshortcomb</key>
		<string>uni0335</string>
		<key>sukun-ar</key>
		<string>uni0652</string>
		<key>tah-ar</key>
		<string>uni0637</string>
		<key>tah-ar.fina</key>
		<string>uniFEC2</string>
		<key>tah-ar.init</key>
		<string>uniFEC3</string>
		<key>tah-ar.medi</key>
		<string>uniFEC4</string>
		<key>tahabove-ar</key>
		<string>uni0615</string>
		<key>tcedilla</key>
		<string>uni0163</string>
		<key>tcheh-ar</key>
		<string>uni0686</string>
		<key>tcheh-ar.fina</key>
		<string>uniFB7B</string>
		<key>tcheh-ar.init</key>
		<string>uniFB7C</string>
		<key>tcheh-ar.medi</key>
		<string>uniFB7D</string>
		<key>tcommaaccent</key>
		<string>uni021B</string>
		<key>teh-ar</key>
		<string>uni062A</string>
		<key>teh-ar.fina</key>
		<string>uniFE96</string>
		<key>teh-ar.init</key>
		<string>uniFE97</string>
		<key>teh-ar.medi</key>
		<string>uniFE98</string>
		<key>tehMarbuta-ar</key>
		<string>uni0629</string>
		<key>tehMarbuta-ar.fina</key>
		<string>uniFE94</string>
		<key>tehMarbutagoal-ar</key>
		<string>uni06C3</string>
		<key>thal-ar</key>
		<string>uni0630</string>
		<key>thal-ar.fina</key>
		<string>uniFEAC</string>
		<key>theh-ar</key>
		<string>uni062B</string>
		<key>theh-ar.fina</key>
		<string>uniFE9A</string>
		<key>theh-ar.init</key>
		<string>uniFE9B</string>
		<key>theh-ar.medi</key>
		<string>uniFE9C</string>
		<key>thousandseparator-ar</key>
		<string>uni066C</string>
		<key>three-ar</key>
		<string>uni0663</string>
		<key>three-persian</key>
		<string>uni06F3</string>
		<key>threedotsdownabove-ar</key>
		<string>uniFBB8</string>
		<key>threedotsdownbelow-ar</key>
		<string>uniFBB9</string>
		<key>threedotsupabove-ar</key>
		<string>uniFBB6</string>
		<key>threedotsupbelow-ar</key>
		<string>uniFBB7</string>
		<key>threesuperior</key>
		<string>uni00B3</string>
		<key>tteh-ar</key>
		<string>uni0679</string>
		<key>tteh-ar.fina</key>
		<string>uniFB67</string>
		<key>tteh-ar.init</key>
		<string>uniFB68</string>
		<key>tteh-ar.medi</key>
		<string>uniFB69</string>
		<key>two-ar</key>
		<string>uni0662</string>
		<key>two-persian</key>
		<string>uni06F2</string>
		<key>twodotshorizontalabove-ar</key>
		<string>uniFBB4</string>
		<key>twodotshorizontalbelow-ar</key>
		<string>uniFBB5</string>
		<key>twodotsverticalabove-ar</key>
		<string>uniFBBD</string>
		<key>twodotsverticalbelow-ar</key>
		<string>uniFBBE</string>
		<key>twosuperior</key>
		<string>uni00B2</string>
		<key>udotbelow</key>
		<string>uni1EE5</string>
		<key>uhookabove</key>
		<string>uni1EE7</string>
		<key>uhornacute</key>
		<string>uni1EE9</string>
		<key>uhorndotbelow</key>
		<string>uni1EF1</string>
		<key>uhorngrave</key>
		<string>uni1EEB</string>
		<key>uhornhookabove</key>
		<string>uni1EED</string>
		<key>uhorntilde</key>
		<string>uni1EEF</string>
		<key>veh-ar</key>
		<string>uni06A4</string>
		<key>veh-ar.fina</key>
		<string>uniFB6B</string>
		<key>veh-ar.init</key>
		<string>uniFB6C</string>
		<key>veh-ar.medi</key>
		<string>uniFB6D</string>
		<key>waw-ar</key>
		<string>uni0648</string>
		<key>waw-ar.fina</key>
		<string>uniFEEE</string>
		<key>wawHamzaabove-ar</key>
		<string>uni0624</string>
		<key>wawHamzaabove-ar.fina</key>
		<string>uniFE86</string>
		<key>ydotbelow</key>
		<string>uni1EF5</string>
		<key>yeh-ar</key>
		<string>uni064A</string>
		<key>yeh-ar.fina</key>
		<string>uniFEF2</string>
		<key>yeh-ar.init</key>
		<string>uniFEF3</string>
		<key>yeh-ar.medi</key>
		<string>uniFEF4</string>
		<key>yeh-farsi</key>
		<string>uni06CC</string>
		<key>yeh-farsi.fina</key>
		<string>uniFBFD</string>
		<key>yeh-farsi.init</key>
		<string>uniFBFE</string>
		<key>yeh-farsi.medi</key>
		<string>uniFBFF</string>
		<key>yehHamzaabove-ar</key>
		<string>uni0626</string>
		<key>yehHamzaabove-ar.fina</key>
		<string>uniFE8A</string>
		<key>yehHamzaabove-ar.init</key>
		<string>uniFE8B</string>
		<key>yehHamzaabove-ar.medi</key>
		<string>uniFE8C</string>
		<key>yehbarree-ar</key>
		<string>uni06D2</string>
		<key>yehbarree-ar.fina</key>
		<string>uniFBAF</string>
		<key>yehbarreeHamzaabove-ar</key>
		<string>uni06D3</string>
		<key>yehbarreeHamzaabove-ar.fina</key>
		<string>uniFBB1</string>
		<key>yhookabove</key>
		<string>uni1EF7</string>
		<key>ytilde</key>
		<string>uni1EF9</string>
		<key>zah-ar</key>
		<string>uni0638</string>
		<key>zah-ar.fina</key>
		<string>uniFEC6</string>
		<key>zah-ar.init</key>
		<string>uniFEC7</string>
		<key>zah-ar.medi</key>
		<string>uniFEC8</string>
		<key>zain-ar</key>
		<string>uni0632</string>
		<key>zain-ar.fina</key>
		<string>uniFEB0</string>
		<key>zero-ar</key>
		<string>uni0660</string>
		<key>zero-persian</key>
		<string>uni06F0</string>
		<key>zerosuperior</key>
		<string>uni2070</string>
	</dict>
</dict>
</plist>
